{% ckan_extends %}

{% block links %}
	<link rel="shortcut icon" href="/favicon.ico" />
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/ceon_theme.css" />
  <!--[if lte ie 8]><link rel="stylesheet" type="text/css" href="/ie8-and-down.css" /><![endif]-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource 'ceon-resources/language-selector.js' %}
    {% resource 'ceon-resources/home-page.js' %}
    {% resource 'ceon-resources/common.js' %}
    {% resource 'ceon-resources/piwik.js' %}
    <noscript><p><img src="{{ h.ckanext_piwik_piwik_url() }}" style="border:0;" alt="" /></p></noscript>
{% endblock -%}


