{% ckan_extends %}


{% block header_wrapper %}
	{% block header_account %}
		{{ super() }}
	{% endblock %}
		
	
	<header class="logo-ceon">
		<div class="container">
			<div class="media-image">
                <img src="{{ h.url_for_static('/logo.png') }}" alt="Ceon RepPOD" usemap="#ceonRepodMap"/>
          <map id="ceonRepodMap" name="ceonRepodMap">
            <area shape="poly" title="CeON" alt="CeON" title="" coords="153,89,153,20,150,11,144,5,135,0,17,0,9,4,5,10,0,17,0,70,2,77,4,82,10,84,10,89,15,89" href="http://ceon.pl" target="_blank" />
            <area shape="poly" alt="RePOD" title="RePOD" coords="135,0,143,3,147,7,151,13,154,19,154,89,945,89,952,83,953,6,944,1,935,0" href="{{ h.url('home') }}" target="" />
          </map>
  			</div>
		</div>
	</header>
	<header class="navbar navbar-static-top masthead">
 		{% block header_debug %}
    			{{ super() }}
  		{% endblock %}
  		<div class="container">
    			<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
    			</button>
    			{# The .header-image class hides the main text and uses image replacement for the title #}
    			<hgroup class="{{ g.header_class }} ">
      				{% block header_logo %}
      				{% endblock %}
    			</hgroup>

    			<div class="nav-collapse collapse nav-div">

      			{% block header_site_navigation %}
        			<nav class="section navigation">
          				<ul class="nav nav-pills">
          					{% block header_site_navigation_tabs %}
								<li><a href="{{ h.url_for(controller='package', action='new') }}"><img src="/icon_share_white.png"/>{{_('Create Dataset') }}</a></li>
								<li><a href="{{ h.url_for(controller='package', action='search') }}"><img src="/icon_share2_white.png"/>{{_('Datasets')}}</a></li>
								<li><a href="{{ h.url_for(controller='group', action='index') }}" ><img src="/icon_group_white.png"/>{{_('Groups')}}</a></li>
            					{% endblock %}
          				</ul>
       				</nav>
      			{% endblock %}

			{% block header_site_search %}
      				{{ super() }}
     			{% endblock %}
      			

    		</div>
  		</div>
	</header>
{% endblock %}

{% block header_account_logged %}
	{% if c.userobj.sysadmin %}
    	<li>
    		<a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
    			<i class="icon-legal" aria-hidden="true"></i>
    			<span class="text">{{ _('Admin') }}</span>
    		</a>
        </li>
    {% endif %}
    <li>
    	<a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
        	<span class="username">{{ c.userobj.display_name }}</span>
        </a>
    </li>
    {% set new_activities = h.new_activities() %}
    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
       	{% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
       	<a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
           		<span>
					<span class="text">{{ _('Dashboard') }}</span>
					<span class="badge">&#40;{{ new_activities }}&#41;</span>
				</span>
           		
       	</a>
    </li>
    {% block header_account_settings_link %}
    	{{ super() }}
    {% endblock %}
    {% block header_account_log_out_link %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block header_account_container_content %}
	{% snippet 'snippets/language_selector.html'  %}
	{{ super() }}
{% endblock %}
