{% trans %}
<h2>Repository for Open Data:</h2>
<p>E-mail: <a href="mailto:repod@pon.edu.pl">repod@pon.edu.pl</a></p>

<h2>RepOD is run by the Open Science Platform:</h2>
<p><a href="http://pon.edu.pl">http://pon.edu.pl</a><br>
E-mail: <a href="mailto:pon@icm.edu.pl">pon@icm.edu.pl</a></p>

<h2>Postal address:</h2>
<p>Interdisciplinary Centre for Mathematical and Computational Modelling<br>
University of Warsaw<br>
ul. Prosta 69,<br> 00-838 Warsaw,<br> Poland<br>
(entrance from Towarowa street)</p>
{% endtrans %}