<h2>Co to znaczy, że zakazane jest dostarczanie do RepOD „treści o
    charakterze bezprawnym”? </h2>
<p>Zbiór danych jako całość – jako „zestawienie plików” – może być objęty
ochroną prawną, wynikającą np. z praw autorskich lub – co bardziej
prawdopodobne – z tzw. „sui generis praw do baz danych”. Ochrona ta
obowiązuje niezależnie od ewentualnej ochrony zawartości zbioru, czyli
poszczególnych plików wchodzących w jego skład.
Dla przykładu: jeżeli użytkownik deponuje w repozytorium zbiór danych
złożony ze zdjęć i pliku opisowego, to mianem „praw związanych ze zbiorem
jako zestawieniem” określamy prawa chroniące istotny nakład inwestycyjny
producenta takiego zbioru, poniesiony w celu sporządzenia, weryfikacji lub
prezentacji jego zawartości (o ile oczywiście taki nakład został faktycznie
poniesiony, a producent ponosi ryzyko z nim związane). Mogą to być także
prawa chroniące twórczy wkład w dokonanie doboru, układu lub zestawienia
tych zdjęć i pliku, jeżeli istotnie takiej twórczości można się w tym
wypadku doszukać.</p>
<p>Udostępnienie danych w RepOD nie może naruszać cudzych praw do tych
danych – zarówno w odniesieniu do zbioru jako całości, jak i do jego
poszczególnych elementów. Musi być zatem przede wszystkim zgodne z zasadami
udostępniania danych przyjętymi przez Twojego pracodawcę. W przypadku wielu
uczelni i instytutów badawczych zasady te nie są sformalizowane, ale
funkcjonują na zasadzie zwyczaju lub decyzji podejmowanych ad hoc w
odniesieniu do poszczególnych projektów. Ponadto udostępnienie powinno
uwzględniać prawa do poszczególnych elementów zbioru – w powyższym
przykładzie będą to prawa autorskie fotografa, ale mogą to być też różne
inne prawa (np. ochrona danych osobowych w przypadku danych je
zawierających). Należy upewnić się, że udostępnienie danych w RepOD odbywa
się na podstawie i zgodnie z treścią zgody udzielonej przez te osoby na
udostępnianie ich danych (zwłaszcza że zgoda ta obejmuje udostępnienia na
tej licencji, którą chcesz wybrać jako licencję na określony plik).</p>

<h2>Co to znaczy, że metadane opisujące zbiór danych oraz prawa związane ze
    zbiorem jako „zestawieniem plików” są w RepOD objęte licencją CC0?</h2>
<p>Jeżeli dany zbiór jest objęty prawami sui generis lub prawem autorskim
(co w konkretnym przypadku może być trudne do ustalenia), to określone
korzystanie ze zbioru jako całości, a nawet korzystanie z jego (istotnej)
części, wymaga uzyskania odpowiedniej licencji (wyjątki od tej zasady są
bardzo wąskie). Aby uniknąć takich sytuacji, zdecydowaliśmy, że prawa
powiązane z tworzeniem zbiorów danych jako zestawień będą w repozytorium
objęte licencją CC0 (<a
    href="https://creativecommons.org/choose/zero/">https://creativecommons.org/choose/zero/)</a>).
CC0 to w istocie opracowane przez organizację Creative Commons oświadczenie
mające na celu uwolnienie zasobu do domeny publicznej. Z zasobów
znajdujących się w domenie publicznej można korzystać bez ograniczeń
wynikających z istnienia praw wyłącznych (choć nadal należy respektować
prawo w ogóle, w tym również osobiste prawa autorskie).
W obecnym otoczeniu prawnym CC0 to najprostszy sposób na zapewnienie jak
najszerszej swobody korzystania z zasobu. W naszej ocenie rezygnacja z
egzekwowania wyłączności prawnej związanej ze zbiorem jako zestawieniem
plików to najlepszy sposób, aby zapewnić prawdziwą otwartość udostępnianych
danych. Bez zastosowania tego mechanizmu prawa związane ze zbiorem jako
zestawieniem plików mogłyby niepotrzebnie utrudniać wtórne wykorzystanie
tych zestawień bądź ich istotnych części. Dla przykładu: w ustawodawstwie
wielu krajów, w tym także Polski, nie jest jasne, czy bez złożenia tego typu
oświadczenia zbiory danych mogłyby być poddawane maszynowym analizom bez
konieczności uzyskiwania specjalnej zgody osób, którym prawa te
przysługują.</p>
<p>Z kolei metadane zbioru danych to informacje niebędące częścią zbioru,
ale opisujące ten zbiór. Są to te dane, które użytkownik wpisuje do
formularza podczas deponowania zbioru w repozytorium: tytuł zbioru, lista
autorów, wydawca, opis itd. Także w przypadku metadanych zdecydowaliśmy, że
będą one uwalniane w repozytorium do domeny publicznej za pomocą licencji
CC0. Ułatwi to wyszukiwanie danych, gdyż metadane będą mogły być swobodnie
przekazywane do innych serwisów. W szczególności metadane będą automatycznie
przekazywane do kolekcji Europeana, ponieważ zobowiązuje nas do tego umowa,
w ramach której nadajemy zbiorom danych numery DOI.</p>
<p>Oświadczenie o objęciu metadanych i zbioru jako zestawienia plików
licencją CC0 jest składane przez użytkownika automatycznie z chwilą
kliknięcia w przycisk „Zapisz” po wprowadzeniu metadanych i plików
deponowanego zbioru.</p>

<h2>Co oznacza możliwość wyboru licencji dla plików składających się na
    zbiór danych?</h2>
<p>W RepOD umożliwiamy opatrzenie każdego pliku wchodzącego w skład zbioru
danych osobną licencją. Dla ułatwienia dajemy też możliwość wyboru jednej
licencji dla wszystkich plików w zbiorze.</p>
<p>Tą licencją może być CC0, możliwa jest więc sytuacja, w której metadane,
zbiór jako całość oraz jego poszczególne elementy będą wszystkie
udostępnione na tej samej licencji (CC0). Spośród dostępnych w RepOD
możliwości ten scenariusz jest zdecydowanie najbardziej korzystny z punktu
widzenia użytkownika danych.</p>
<p>Ponieważ jednak takie rozwiązanie może z różnych względów nie odpowiadać
niektórym użytkownikom repozytorium, do wyboru dla poszczególnych plików
dajemy też inne licencje. Zostały one wybrane spośród najbardziej
popularnych wolnych licencji – Creative Commons – oraz licencji wolnego
oprogramowania. Te ostatnie są wskazane dla plików będących programami
komputerowymi; te pierwsze dla wszystkich pozostałych.</p>
<p>Informacje na temat poszczególnych licencji CC można znaleźć na stronach
międzynarodowej organizacji Creative Commons (<a
    href="https://creativecommons.org/licenses/">https://creativecommons.org/licenses/</a>).
Dobrym źródłem informacji o poszczególnych licencjach wolnego oprogramowania
są strony Free Software Foundation (<a
    href="http://www.fsf.org/licensing/">http://www.fsf.org/licensing/</a>).</p>
<p>Przypomnijmy, że niezależnie od wyboru licencji dla poszczególnych plików
wymagamy, aby metadane oraz zbiór jako całość były udostępnione na licencji
CC0.</p>

<h2>Co oznacza opcja „bez licencji”?</h2>
<p>W rozwijanym menu wyboru licencji dla plików wchodzących w skład zbioru
jest też opcja „bez licencji”. Oznacza ona, że plik (pliki) będą
udostępniane użytkownikom RepOD, jednak nie uzyskają oni na ich
wykorzystanie żadnych szczególnych uprawnień. W tej sytuacji będą oni
musieli ograniczyć swoje korzystanie z danego pliku do zakresu określonego w
przepisach o dozwolonym użytku w prawie autorskim (np. cytowanie) lub w
odpowiednich przepisach w innych ustawach.</p>
<p>Przepisy o dozwolonym użytku dają pewne możliwości korzystania z danych,
ale nie są one szczególnie szerokie, zwłaszcza z perspektywy nowoczesnego
badacza, dla którego znaczenie ma np. możliwość dokonywania maszynowej
analizy danych. Wiąże się też z nimi wiele prawnych wątpliwości. Jeżeli
chcesz usunąć te ograniczenia, możesz dla poszczególnych lub wszystkich
plików wybrać jedną z kilku modelowych wolnych licencji.</p>

<h2>Kto może zdecydować o udostępnieniu w RepOD oraz o wyborze
    licencji?</h2>
<p>Ponieważ metadane, zbiór jako całość oraz poszczególne pliki w zbiorze
mogą być objęte ochroną na podstawie różnych praw, może być też tak, że
ochrona prawna przysługuje różnym osobom. W takiej sytuacji decyzja o
wyborze licencji również należy do wielu różnych osób. Zgodnie z regulaminem
RepOD zakładamy, że osoba deponująca zbiór w repozytorium czyni to bez
naruszania praw tych osób i zgodnie z ich wolą, bądź też sama dysponuje
wszystkimi prawami.</p>
<p>Należy także sprawdzić, czy na umieszczenie w RepOD danych na określonej
licencji nie będzie potrzebna zgoda pracodawcy lub innego podmiotu, który
zlecił określone badanie naukowe. Ponadto należy się upewnić, czy udzielenie
licencji jest możliwe z uwagi na ewentualną zawartość cudzych materiałów w
samych danych. Jeżeli na przykład są to fotografie, to z każdą z nich mogą
być związane osobne prawa autorskie fotografa. Na fotografiach znajdować się
mogą kolejne przedmioty cudzych praw – fotografowane utwory albo wizerunki
osób.</p>
<p>Nie tylko udzielenie licencji, ale nawet samo udostępnienie (w ramach
opcji „bez licencji”) metadanych, zbioru oraz plików w zbiorze musi się
odbywać za wyraźną zgodą wszystkich osób, którym przysługują prawa.</p>

<h2>Co to są dane osobowe, dane wrażliwe i anonimizacja danych?</h2>
<p>Zbiór danych osobowych jest szczególnym przypadkiem sytuacji, w której w
deponowanych danych zawarte są cudze materiały. Dane osobowe to nie tylko i
nie zawsze imię i nazwisko – są to wszystkie dane, które pozwalają bez
nadmiernego wysiłku ustalić tożsamość indywidualnej, żyjącej osoby. Jeżeli
zbiór danych zawiera dane osobowe, jego udostępnienie powinno dodatkowo
uwzględniać wymagania wynikające z ustawy o ochronie danych osobowych.
Będzie to trudne, jeżeli na udostępnienie nie ma zgody osób, których dane
dotyczą. W przypadku braku zgody względnie najprostszą drogą do
udostępnienia zbioru jest anonimizacja rozumiana jako usunięcie ze zbioru
określonych informacji, tak aby ustalenie tożsamości poszczególnych osób nie
było możliwe lub wymagało niewspółmiernych wysiłków. Anonimizacja musi być
przeprowadzona uważnie, gdyż przy obecnym stanie techniki deanonimizacja
zbiorów jest prostsza niż kiedykolwiek, zwłaszcza jeżeli dysponuje się
podobnymi zbiorami z innych źródeł.</p>
<p>Szczególną postacią danych osobowych są dane wrażliwe. Są to dane
„ujawniające pochodzenie rasowe lub etniczne, poglądy polityczne,
przekonania religijne lub filozoficzne, przynależność wyznaniową, partyjną
lub związkową”, jak również dane „o stanie zdrowia, kodzie genetycznym,
nałogach lub życiu seksualnym” oraz dane dotyczące „skazań, orzeczeń o
ukaraniu i mandatów karnych, a także innych orzeczeń wydanych w postępowaniu
sądowym lub administracyjnym”. Przetwarzanie tych danych jest generalnie
zakazane, a choć w ustawie przewidziano wyjątek na potrzeby badań naukowych,
to jednocześnie zastrzeżono, że „publikowanie wyników badań naukowych nie
może następować w sposób umożliwiający identyfikację osób, których dane
zostały przetworzone” (powyższe cytaty pochodzą z ustawy o ochronie danych
osobowych).</p>
<p>Należy koniecznie pamiętać o tym, że za prawidłową anonimizację
udostępnianych w RepOD danych odpowiada osoba deponująca dany zbiór.</p>
