<h2>Postanowienia ogólne</h2>
<ol>
	<li>Niniejszy regulamin określa zasady korzystania z elektronicznego repozytorium otwartych danych naukowych RepOD („<strong>Repozytorium</strong>”).</li>
	<li>Repozytorium prowadzone jest przez Interdyscyplinarne Centrum Modelowania Matematycznego i Komputerowego, Uniwersytet Warszawski, z siedzibą w Warszawie (00-927), przy ul. Krakowskie Przedmieście 26/28 („<strong>ICM UW</strong>”) za pośrednictwem serwisu internetowego.</li>
	<li>Repozytorium służy udostępnianiu za pośrednictwem sieci Internet danych naukowych, takich jak dane tabelaryczne, zdjęcia, materiały audiowizualne, i wszelkie inne rodzaje danych wytworzonych, zebranych lub opisanych na potrzeby prowadzenia badań naukowych („<strong>Materiały</strong>”).</li>
</ol>

<h2>Zasady korzystania z Repozytorium</h2>
<ol>
	<li>
		Za pośrednictwem Repozytorium możliwe jest:
		<ol type="a">
  			<li>przechowywanie i publiczne udostępnianie Materiałów;</li>
  			<li>przeglądanie i pobieranie Materiałów.</li>
		</ol>
	</li>
	<li>Korzystanie z Repozytorium jest nieodpłatne.</li>
	<li>W celu skorzystania z pewnych funkcji Repozytorium (takich jak przechowywanie i publiczne udostępnianie Materiałów, a także otrzymywanie powiadomień o aktualizacjach) wymagana jest rejestracja. Korzystanie z funkcji nie wymagających rejestracji jest możliwe anonimowo, a poza rejestracją użytkownik nie jest obowiązany ujawniać danych umożliwiających jego identyfikację.</li>
	<li>W celu korzystania z Repozytorium nie jest konieczne spełnienie żadnych szczególnych wymagań technicznych, choć może to być konieczne dla korzystania z niektórych jego funkcji. Informacje o takich szczególnych wymaganiach są dostępne na bieżąco za pośrednictwem Repozytorium.</li>
</ol>

<h2>Przechowywanie i publiczne udostępnianie Materiałów</h2>
<ol>
	<li>Zarejestrowany użytkownik może przechowywać i publicznie udostępniać Materiały w Repozytorium, a także korzystać z dodatkowych funkcji Repozytorium dostępnych zgodnie z aktualnym stanem technicznym Repozytorium.</li>
	<li>Przechowywać i publicznie udostępniać Materiały w Repozytorium mogą wyłącznie zarejestrowani użytkownicy.</li>
	<li>Zakazane jest dostarczanie treści o charakterze bezprawnym, a w szczególności przechowywanie i udostępnianie w Repozytorium Materiałów:
		<ol type="a">
  			<li>do których rozpowszechniania użytkownik nie ma stosownych uprawnień (np. autorskie prawa majątkowe zostały przeniesione na osobę trzecią);</li>
  			<li>których rozpowszechnianie narusza prawa osób trzecich w inny sposób, w tym ich dobra osobiste (np. niewłaściwie zanonimizowanych danych osobowych, w szczególności danych wrażliwych);</li>
  			<li>których rozpowszechnianie jest sprzeczne z innymi przepisami prawa.</li>
		</ol>
	</li>
	<li>Zakazane jest dostarczanie treści sprzecznych z dobrymi obyczajami, a w tym godzących w zasady rzetelności naukowej.</li>
	<li>Zakazane jest dostarczanie treści niestanowiących Materiałów w rozumieniu niniejszego Regulaminu.</li>
	<li>Dostarczenie Materiału do Repozytorium jest równoznaczne ze złożeniem przez użytkownika oświadczenia o treści zgodnej ze wzorcem Creative Commons 0, którego pełne postanowienia dostępne są pod adresem: <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">https://creativecommons.org/publicdomain/zero/1.0/legalcode</a> („<strong>CC0</strong>”). Zakresem przedmiotowym tego oświadczenia objęte są:
		<ol type="a">
  			<li>metadane dotyczące Materiału;</li>
			<li>ewentualne prawa wyłączne związane z Materiałem jako zestawieniem plików, takie jak prawa autorskie lub prawa do baz danych, z zastrzeżeniem ust. 7 i 8 poniżej.</li>
		</ol>
	</li>	
	<li>W odniesieniu do każdego pliku stanowiącego element składowy Materiału, użytkownik może złożyć oświadczenie o udzieleniu licencji, do wyboru z listy dostępnej w Repozytorium. Oświadczenie, o którym mowa w zdaniu poprzedzającym, składa się za pomocą stosownego formularza, dostępnego dla zarejestrowanych użytkowników, w trakcie wprowadzania metadanych dotyczących Materiału.</li>
	<li>ICM UW będzie informować użytkowników Repozytorium o złożonych przez użytkownika oświadczeniach, o których mowa w ust. 6 i 7 powyżej, za pomocą stosownego oznaczenia na stronie poświęconej danemu Materiałowi oraz plikom stanowiącym jego elementy składowe (odpowiednio). W przypadku niezłożenia oświadczenia, o którym mowa w ust. 7 powyżej, ICM UW będzie informować użytkowników Repozytorium, że korzystanie z takiego pliku jest możliwe zgodnie z właściwymi przepisami o dozwolonym użytku lub o innych swobodach użytkowników przewidzianych w przepisach prawa, a korzystanie w szerszym zakresie wymaga uzyskania zgody uprawnionego, o ile komukolwiek przysługują do takiego pliku jakiekolwiek prawa wyłączne.</li>
	<li>W przypadku, gdy w stosunkach pomiędzy użytkownikiem a ICM UW strony byłyby związane niniejszym Regulaminem oraz postanowieniami licencji, o których mowa w ust. 6 oraz 7 powyżej, a pomiędzy postanowieniami tych dokumentów zachodziłyby sprzeczności, pierwszeństwo mają postanowienia niniejszego Regulaminu.</li>
</ol>

<h2>Nadawanie DOI</h2>
<ol>
	<li>ICM UW zapewnia przypisanie numerów DOI do udostępnianych w Repozytorium Materiałów i poszczególnych plików stanowiących ich elementy składowe. W tym celu ICM UW korzysta z usług zewnętrznego podmiotu, uprawnionego do nadawania DOI, co wiąże się z przekazaniem metadanych temu podmiotowi.</li>
	<li>Dostarczając Materiały i ich elementy składowe, użytkownik wyraża zgodę na przypisanie im numerów DOI w sposób opisany powyżej i zobowiązuje się prawidłowo wypełnić metadane.</li>
</ol>

<h2>Reklamacje, zapytania i uwagi</h2>
<ol>
	<li>W przypadku jakichkolwiek reklamacji należy je zgłosić listem poleconym na adres: Interdyscyplinarne Centrum Modelowania Matematycznego i Komputerowego, Uniwersytet Warszawski, ul. Prosta 69, 00-838 Warszawa, albo pocztą elektroniczną na adres <a href="mailto:repod@pon.edu.pl">repod@pon.edu.pl</a>.</li>
	<li>Zgłoszenie powinno zawierać oznaczenie zgłaszającego umożliwiające jego identyfikację oraz krótki opis problemu.</li>
	<li>Zgłoszenie zostanie rozpatrzone niezwłocznie, o czym zgłaszający zostanie powiadomiony na adres podany w zgłoszeniu.</li>
</ol>

<h2>Dane osobowe i polityka prywatności</h2>
<ol>
	<li>Administratorem danych osobowych użytkowników przetwarzanych w związku z prowadzeniem Repozytorium jest ICM UW.</li>
	<li>Dane przetwarzane są w celu prowadzenia Repozytorium.</li>
	<li>Osoba, której dane dotyczą, ma prawo dostępu do treści swoich danych oraz ich poprawiania.W ramach prowadzenia Repozytorium przetwarzane są następujące dane osobowe użytkowników:
		<ol type="a">
			<li>imię i nazwisko;</li>
			<li>adres e-mail;</li>
			<li>hasło w postaci zaszyfrowanej.</li>
		</ol>
	</li>	
	<li>Repozytorium wykorzystuje plik cookie w celu przechowania informacji o sesji (szczegółach połączenia klienta z serwerem). Plik jest usuwany z przeglądarki po zakończeniu sesji.</li>
	<li>Dane gromadzone w Repozytorium mogą być udostępniane osobom trzecim w przypadkach określonych przez prawo.</li>
	<li>Osoba, której dane dotyczą, ma prawo dostępu do treści swoich danych oraz ich poprawiania, a w przypadkach wymienionych w art. 23 ust. 1 pkt 4 i 5 ustawy o ochronie danych osobowych wniesienia pisemnego, umotywowanego żądania zaprzestania przetwarzania jej danych ze względu na jej szczególną sytuację oraz wniesienia sprzeciwu wobec przetwarzania jej danych, gdy administrator danych zamierza je przetwarzać w celach marketingowych lub wobec przekazywania jej danych osobowych innemu administratorowi danych.</li>
</ol>

<h2>Odpowiedzialność</h2>
<ol>
	<li>ICM UW dokłada starań, aby korzystanie z Repozytorium było możliwe bez istotnych przerw i innych zakłóceń, a także z wykorzystaniem największej liczby konfiguracji dostępnego na rynku sprzętu i oprogramowania.</li>
	<li>W razie otrzymania urzędowego zawiadomienia lub uzyskania wiarygodnej wiadomości o bezprawnym charakterze Materiałów lub związanej z nimi działalności, ICM UW niezwłocznie uniemożliwi dostęp do tych Materiałów.</li>
	<li>ICM UW może odmówić przechowania i publicznego udostępniania danych, zablokować dostęp lub usunąć z Repozytorium dane niestanowiące Materiałów w rozumieniu niniejszego Regulaminu, a także dane niezgodne z postanowieniami niniejszego Regulaminu.</li>
	<li>ICM UW może odmówić rejestracji lub usunąć konto użytkownika, który narusza niniejszy Regulamin i pomimo wezwania nie naprawi tego naruszenia w stosownym terminie, nie dłuższym jednak niż 14 dni.</li>
</ol>
