<div role="main">
  <div class="container">
    <div class="row row1">
      <div class="span3 col1">
        <div class="round-menu">
          {% set text1 = _('Why share research data?') %}
          {% set text2 = _('Who and how can share data?') %}
          {% set text3 = _('Who can use the deposited data and how?') %}
          {% snippet 'snippets/bubble.html', index="1", imgSrc="/binary.jpg", text=text1  %}
          {% snippet 'snippets/bubble.html', index="2", imgSrc="/share.jpg", text=text2  %}
          {% snippet 'snippets/bubble.html', index="3", imgSrc="/using.jpg", text=text3  %}
		</div>
      	{% snippet 'home/snippets/stats.html' %}
      </div>
      <div class="span9">
        <div class="sheet hidden" id="sheet_1">
          <h1>{{ _('Why share research data in an open repository?') }}</h1>
          {{ _('Open sharing of data can bring advantages both to the development of science and to the researcher\'s career:') }}
          <ul>
            {% trans %}<li>sharing data allows its <strong>re-analysis</strong> and encourages <strong>new interpretations</strong>,</li>
            <li>open data can be used for conducting <strong>new research</strong>, and it can be merged with existing data to create <strong>new combinations</strong>,</li>
            <li>open data can be used both by other scientists and by people from <strong>outside the academic community</strong>,</li>
            <li>sharing data makes it easier to check whether published scientific works are based on <strong>reproducible results</strong>,</li>
            <li>depositing research data in a repository guarantees <strong>safe, long-term storage</strong>,</li>
            <li>preparing data for sharing requires that you <strong>describe it properly</strong>, so it becomes easier to use in the future,</li>
            <li>data deposited in a repository has a fixed URL and a DOI (digital object identifier) number, which makes <strong>proper citation</strong> easier, and allows the researcher to include a list of published datasets into their CV,</li>
            <li>data in a repository is supplied with a standardized set of metadata, which makes it <strong>easier to find</strong>,</li>
            <li>repositories may supply researchers with information on how often their data is <strong>viewed and downloaded</strong>.</li>{% endtrans %}
          </ul>
          {{ _('All over the world more and more research-funding institutions are adopting open data policies. Some of them impose an obligation to openly share research data on their grantees. Also the European Commission has launched an Open Research Data Pilot in the Horizon 2020 program.') }}
        </div>
        <div class="sheet hidden" id="sheet_2">
          <h1>{{ _('Who and how can share data in the Repository for Open Data?') }}</h1>
          <a href="" class="paragraph-title">
            <h2>{{ _('Who can deposit data in RepOD?') }}</h2>
          </a>
          <div class="paragraph">
            {% trans legal_url=h.url_for(controller='ckanext.ceon.controllers:CeonController', action='legal') %}<p>Data can be deposited by <strong>every registered user</strong> who conducts research and wants to share data pertaining to their research project. You only need to remember that the person depositing data must have all intellectual property and related <strong>rights</strong> necessary for open sharing of the materials (<a href="{legal_url}">RepOD Legal Guide</a>).</p>{% endtrans %}
          </div>

          <a href="" class="paragraph-title">
            <h2>{{ _('What sort of data can be deposited?') }}</h2>
          </a>
          <div class="paragraph">
            {% trans %}<p>Any data that was <strong>created, collected or annotated for the purpose of scientific research</strong> can be shared in RepOD. The repository is intended for sharing data from <strong>all</strong> areas of knowledge. The data can be raw or pre-processed, provided that the description contains information on all the actions performed. Please <strong>do not deposit</strong> datasets that have already been published and had a DOI number assigned.</p>{% endtrans %}
          </div>
 
          <a href="" class="paragraph-title">
            <h2>{{ _('What does the sharing process look like?') }}</h2>
          </a>
          <div class="paragraph">
            <ol style="margin-left: 0px">
              <li>{% trans %}First, you need to <strong>register</strong> on our website. Every registered user has their own <strong>User folder</strong> associated with their account. Datasets can only be deposited in your own folder.{%endtrans %}</li>
              <li>{% trans legal_url=h.url_for(controller='ckanext.ceon.controllers:CeonController', action='legal') %}To start depositing data, select the “Create dataset” option from the menu. Then enter the <strong>metadata</strong> (the information that describes your dataset) into the provided fields, according to the instructions next to the fields. Then <strong>add the prepared files</strong> (<a href="{legal_url}">How to prepare data for sharing?</a>). At this stage you should also fill in the metadata for individual files. You can interrupt these actions at any time, save the entered data by clicking <strong>“Save as draft”</strong>, and come back to finish it later. When the dataset is ready, click <strong>“Finish”</strong>.{% endtrans %}</li>
              <li>{% trans %}So far, your dataset is only visible to you (it is marked as “Private”). Now the repository's editor will check whether the deposited files can be considered research data (and not spam), and whether there are no errors in the entered metadata (the editor can correct basic typing mistakes; for more serious correction, they will contact the dataset creator). The editor does not review the contents of the dataset, its merits or quality. After getting <strong>approval from the editor</strong>, the data will become <strong>visible to everyone</strong> and will <strong>receive a DOI number</strong>. The approval process may take up to 2 working days. When the dataset is visible to the public, the note “Private” will disappear.{% endtrans %}</li>
              <li>{% trans %}If you want to <strong>assign</strong> the dataset to a <strong>group</strong> (for example, a group associated with a research institution to which you have an affiliation, or a project under which your research is conducted), you can do it at any moment after clicking “Finish” – either before or after the editor's approval and publishing the data. You can assign the dataset to more than one group, if you find that appropriate.{% endtrans %}</li>
            </ol>
          </div>

          <a href="" class="paragraph-title">
            <h2>{{ _('Can you modify the deposited data?') }}</h2>
		  </a>
          <div class="paragraph">
            {% trans %}<p>Removing, depositing, adding and exchanging files in published datasets that have been assigned a DOI number <strong>is not possible</strong>. Modifying the metadata is only permitted in a very limited scope (correcting typing mistakes and other minor errors, adding keywords, assigning to a different area of research, etc.).</p>
            <p>If you only want to <strong>update</strong> the data, you should deposit a new version by making a new dataset with a new version number. In this case, it is best to put this information in the title and/or description, informing that this dataset is a subsequent version of a dataset once published. You can also modify the description of the older dataset, so that it contains a link to the updated version.</p>{% endtrans %}
          </div>

          <a href="" class="paragraph-title">
            <h2>{{ _('Can the deposited data be withdrawn and how?') }}</h2>
          </a>
          <div class="paragraph">
            {% trans %}<p>Due to the possibility of the data being cited in scientific publications, withdrawing data is only possible in justified cases and requires intervention from a RepOD editor. If you need to withdraw your data, please contact us via e-mail (<a href="mailto:repod@pon.edu.pl">repod@pon.edu.pl</a>) and explain why the withdrawal is necessary. If the data is withdrawn, the current URL will lead to a message informing that the data has been withdrawn and the assigned DOI number will still direct users to this website.</p>{% endtrans %}
          </div>

          <a href="" class="paragraph-title">
            <h2>{{ _('What are RepOD groups and where do they come from?') }}</h2>
          </a>
          <div class="paragraph">
            {% trans %}<p>Groups allow to <strong>combine datasets into collections</strong>. A scientific unit (a research institute, a university, a faculty, etc.) or a research project can have their own group. Groups are open: any repository user can add their own dataset to an existing group. New groups are created by the website editor. Any registered user who shared or would like to share a dataset can submit an e-mail request to the RepOD editor (to the address: <a href="mailto:repod@pon.edu.pl">repod@pon.edu.pl</a>), asking to create a new group to which they would like to add their dataset. For example, this could be a group corresponding to a scientific institution the user is affiliated with. It is also possible to assign one dataset to numerous groups, for instance corresponding to several scientific institutions with which different authors of a given dataset are affiliated.</p>{% endtrans %}
          </div>

          <a href="" class="paragraph-title">
            <h2>{{ _('How to prepare data for sharing?') }}</h2>
          </a>
          <div class="paragraph">
            <p>{{ _('A dataset in our repository is just a collection of files with a description in the form of metadata. The dataset can be a collection of all data related to one publication or one research project, research question or experiment. The decision about the scope of data combined into one dataset lies solely with the dataset\'s creator. The dataset\'s structure, and the number and formats of files that constitute it, can be shaped accordingly. Please refer to the guidelines below:') }}</p>
            <ol>
              <li>{{ _('It is possible to use any file formats, but it is better to avoid formats that require one particular (especially commercial) software to work properly. Remember that the data will be stored over the long term, and popular programs appear and disappear all the time, so it\'s best to use formats that do not depend on a particular software. For example, it is better to store tabular data as .csv and not .xls. You can also deposit the same table in two formats.') }}</li>
              <li>{{ _('If you have a lot of files to deposit and the files can be grouped in a sensible manner, you can consider packaging them into .zip archives.') }}</li>
              <li>{{ _('A single file in the dataset cannot exceed 2&nbsp;GB. If it is not possible to divide your data into files of this size – please contact us. We will try to search for a solution together.') }}</li>
              <li>{{ _('The naming pattern of the files should be informative and transparent; this can significantly help users to understand and use the data.') }}</li>
              <li>{{ _('Not all metadata fields are compulsory, but try to fill as many as possible. The more information gets stored in the metadata, the bigger the chance that people who are genuinely interested in your data will be able to find it.') }}</li>
              <li>{{ _('In order for the data to be usable, the research process should be described in as much detail as possible. You can put the methodology descriptions into the data files themselves, but if – for some reason – this is not a good solution in your case, you can also create a separate ReadMe.txt file in which the research methodology and context will be described. If there is a scientific publication describing how the data was collected, you should link to that as well, pasting the link into the provided field when entering the metadata.') }}</li>
              <li>{{ _('The description of the data can be written in Polish or English. We encourage you to write in English, as it will make the shared data available to more people.') }}</li>
              <li>{% trans legal_url=h.url_for(controller='ckanext.ceon.controllers:CeonController', action='legal') %}Research data can be shared in many ways. We encourage you to use one of the open licences (CC0, CC-BY, CC-BY-SA), but it is also possible to share data in RepOD without specifying a licence, under the conditions of fair use. Please remember that in order to share data, you need to have the necessary legal rights (including verbal consent of all co-authors). Please also note that it is the depositer who is responsible for proper anonymization of all personal and sensitive data. More information on legal issues can be found in the <a href="{legal_url}">RepOD Legal Guide</a>.{% endtrans %}</li>
            </ol>
          </div>
        </div>
		<div class="sheet hidden" id="sheet_3">
          <h1>{{ _('Who can use the deposited data and how?') }}</h1>
          {% trans legal_url=h.url_for(controller='ckanext.ceon.controllers:CeonController', action='legal') %}<p>Using our services <strong>does not require registration</strong>. Any interested party can view, download and use the shared files. Any restrictions in using the data result only from the legal status of the files: the open licence granted by the depositer or the provisions of fair use (<a href="{legal_url}">RepOD Legal Guide</a>).</p>
          <p>Please note that <strong>regardless</strong> of the legal status of the data, <strong>good scientific practice</strong> requires that you state the name of the author(s) and the source whenever you use the data – even if it is shared under a CC0 licence. The only exception to this rule is when such attribution is technically impossible (e.g. automatic data mining). If you use the data in your own publication, you should <strong>formally cite</strong> both the <strong>dataset</strong> available from the repository and the related <strong>scientific publication</strong>, if it exists.</p>
          <p>Here is an example of a proper citation format for a dataset downloaded from RepOD: Kowalska, A., Wiśniewska, B. (2015) Results of measurements from 2002-2004. Institute of Very Important Research. <a href="http://dx.doi.org/10.5072/0069791">http://dx.doi.org/10.5072/0069791</a></p>{% endtrans %}	
        </div>
      </div>
    </div>
  </div>
</div>
