<div role="main">
  <div class="container">
    <div class="row row1">
      <div class="span3 col1">
		<div class="round-menu">
			{% snippet 'snippets/bubble.html', activeClass="active", imgSrc="/binary.jpg", text="Po co udostępniać dane badawcze?"  %}
			{% snippet 'snippets/bubble.html', imgSrc="/share.jpg", text="Kto i jak może udostępniać dane?"  %}
			{% snippet 'snippets/bubble.html', imgSrc="/using.jpg", text="Kto i jak może korzystać z danych?"  %}
		</div>
      </div>
      <div class="span9">
	<div class="sheet">
	Otwarte udostępnianie danych badawczych może przynieść korzyści zarówno
rozwojowi nauki, jak i karierze badacza:
<ul>
<li>udostępnianie danych umożliwia ich <strong>ponowną analizę</strong> i zachęca do
nowych interpretacji,</li>
<li>udostępnienie danych ułatwia sprawdzenie, czy opublikowane już prace
naukowe opierają się na powtarzalnych wynikach,</li>
<li>otwarte dane można wykorzystywać do prowadzenia zupełnie nowych
badań, a także łączyć je ze sobą, tworząc nowe zestawienia,</li>
<li>dane zdeponowane w repozytorium są bezpiecznie, długoterminowo
przechowywane,</li>
<li>przygotowanie danych do udostępnienia zmusza nas do tego, żeby je
odpowiednio opracować i opisać, dzięki czemu także i my sami możemy z
nich z większą łatwością skorzystać w przyszłości,</li>
<li>dane zdeponowane w repozytorium posiadają stały URL i uzyskują numer
DOI (digital object identifier), co ułatwia ich prawidłowe cytowanie przez innych i umożliwia także umieszczenie listy opublikowanych zestawów danych
w CV,</li>
<li>dane w repozytorium są opatrzone zestandaryzowanym zestawem
metadanych, dzięki czemu są łatwe do wyszukania przez osoby nimi zainteresowane,</li>
<li>repozytorium zapewnia badaczom informacje o tym, jak często udostępnione przez nich dane były oglądane i pobierane.</li>

</ul>
Należy także pamiętać o tym, że obecnie na całym świecie coraz więcej instytucji
finansujących badania naukowe nakłada na swoich grantobiorców obowiązek otwartego udostępniania wytworzonych danych. Dotyczy to m.in. Komisji Europejskiej, która
w programie Horyzont 2020 uruchomiła Pilotaż Otwartych Danych Badawczych.
Możemy się spodziewać, że z czasem trend ten dotrze także do Polski.
</div>
      </div>
    </div>
  </div>
</div>
