{% extends "page.html" %}

{% block subtitle %}{{ _('RepOD Terms of Use') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('RepOD Terms of Use'), controller='ckanext.ceon.controllers:CeonController', action='terms' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Regulamin korzystania z Repozytorium Otwartych Danych RepOD') }}</h1>
      {% snippet 'home/snippets/terms_text.html' %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
