{% ckan_extends %}


{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}
{% endblock %}

 
{% block package_basic_fields_custom %}
  {{ super() }}

  {% resource 'ceon-resources/form' %}

  {#
  This file has been created upon CKAN's original
  ckan/templates/snippets/custom_form_fields.html
  #}

  {% import "macros/ceonform.html" as form %}

  {% set authors = h.ckanext_ceon_get_authors(data.id) %}
  {% set authors_info = _("After you fill in the data for one author, a new field will appear for the next author.") %}

  <div data-module="authors-fields">
    <ul id="authors-sortable" class="tooltip-info" title="{{authors_info}}">
    {% for a in authors %}
      <li class="ui-state-default">
        <span class="icon-sortable"><i class="fa fa-arrows"></i></span>
        {% set prefix = 'authors__%d__' % loop.index0 %}
        {{ form.author(
          names=(prefix ~ 'firstname', prefix ~ 'lastname', prefix ~ 'email',
                 prefix ~ 'affiliation', prefix ~ 'position', prefix ~ 'id',
                 prefix ~ 'deleted'),
          id='field-authors-%d' % loop.index0,
          label=_('Author'),
          values=(a.firstname, a.lastname, a.email, a.affiliation,
                  '%d' % (loop.index0), a.id, a.deleted),
          error=errors[prefix ~ 'firstname'] or errors[prefix ~ 'lastname'] or
                errors[prefix ~ 'email'] or errors[prefix ~ 'affiliation'] or
                errors[prefix ~ 'position'] or errors[prefix ~ 'id'])
        }}
      </li>
    {% endfor %}

    {# Add a max of 1 empty elements #}
    {% set total_authors = authors|count %}
    {% set empty_authors = 1 - total_authors %}
    {% if empty_authors <= 0 %}{% set empty_authors = 1 %}{% endif %}
    {% for a in range(total_authors, total_authors + empty_authors) %}
      <li class="ui-state-default">
        <span class="icon-sortable"><i class="fa fa-arrows"></i></span>
        {% set index = loop.index0 + (authors|count) %}
        {% set prefix = 'authors__%d__' % index %}
        {{ form.author(
          names=(prefix ~ 'firstname', prefix ~ 'lastname', prefix ~ 'email',
                 prefix ~ 'affiliation', prefix ~ 'position', prefix ~ 'id',
                 prefix ~ 'deleted'),
          id='field-authors-%d' % index,
          label=_('Author'),
          values=(a.firstname, a.lastname, a.email, a.affiliation,
                  '%d' % (index), a.id, a.deleted),
          error=errors[prefix ~ 'firstname'] or errors[prefix ~ 'lastname'] or
                errors[prefix ~ 'email'] or errors[prefix ~ 'affiliation'] or
                errors[prefix ~ 'position'] or errors[prefix ~ 'id'])
        }}
      </li>
    {% endfor %}
    </ul>
  </div>

  {% import "macros/form.html" as form %}
  {% set publisher_info = _("Please enter the name of the institution or organization that holds, archives, publishes, prints, distributes, releases, issues, or produces the data you are depositing. For research data this will typically be the scientific unit where the main author of the dataset is affiliated, e.g. University of Something or Institute for Some Kind of Research. When deciding upon the publisher you should consider that this name will be used for citation of your dataset.") %}
  {{ form.input('publisher', label=_('Publisher'), id='field-publisher', placeholder=_('Publisher'), value=data.publisher, error=errors.publisher, classes=['control-medium'], is_required=true, attrs={"title":publisher_info, "class":"tooltip-info"}) }}

  {% set year_info = _("Year when the data was made or is being made publicly available. For research data this may also be the year when the data was first made available to the research community. If the data underwent an embargo period (time between the creation of the dataset and making it publicly available), please provide the end date of the embargo. In complicated cases, when you are not sure which date should be given, please consider which date makes most sense for citation purposes.") %}
  {{ form.input('publication_year', label=_('Publication Year'), id='field-publication_year', placeholder=_('2012'), value=data.publication_year, error=errors.publication_year, classes=['control-medium'], is_required=true, attrs={"title":year_info, "class":"tooltip-info"}) }}

  {% set related_info = _("Please provide a link – including a DOI number if possible – to a research publication based on the data being deposited. Please choose here only one major publication. If you want to link the data to additional publications, you can enter them later into the „Related items” section on your datasets' webpage.") %}
  {{ form.input('rel_citation', label=_('Related publication'), id='field-rel_citation', placeholder=_('http://example.com/article-123'), value=data.rel_citation, error=errors.rel_citation, classes=['control-medium'], attrs={"title":related_info, "class":"tooltip-info"}) }}

{% endblock %}

{% block package_basic_fields_org %}
      
      {% if data.owner_org %}
      <input type="hidden" name="owner_org" value="{{ data.owner_org }}" />
      {% else %}
        {% set organizations_available = h.organizations_available('create_dataset') %}

        <input type="hidden" name="owner_org" value="{{ organizations_available[0].id }}" />
      {% endif %}
        
      {% set moderationStatus = h.ckanext_ceon_get_moderation_state(data.id) %}
      {% set moderationNotes = h.ckanext_ceon_get_moderation_notes(data.id) %}
      {% set user_is_admin = h.ckanext_ceon_get_user_role(c.userobj.id) == 'admin' %}
      
      
      {% if user_is_admin %}

      <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="moderationStatus">

            	{% for option in [('waitingForApproval', _('Waiting for approval')), ('rejected', _('Rejected')), ('public', _('Public'))] %}
            	<option value="{{ option[0] }}" {% if option[0] == moderationStatus|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            	{% endfor %}
            
          </select>
        </div>
      </div>
      {% else %}
      <input type="hidden" name="moderationStatus" value="{{ moderationStatus }}" />
      {% endif %}
      {% if user_is_admin and moderationStatus == 'waitingForApproval' %}
      	{{ form.markdown('moderationNotes', id='field-moderation-notes', label=_('Moderation notes'), placeholder=_('eg. Some useful notes about moderation'), value=moderationNotes, error=errors.moderationNotes) }}
      {% endif %}
    
      {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}
    
    
    {% endblock %}
    
    
