{% ckan_extends %}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-res_type">{{ _("Type of resource") }}</label>
    <div class="controls">
      <select id="field-res_type" name="res_type" data-module="autocomplete">
      {% for res_type in h.ckanext_ceon_res_types()  %}
        <option value="{{ res_type }}" {% if res_type in data.get('res_type', []) %}selected="selected"{% endif %}>{{ res_type }}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-sci_discipline">{{ _("Area of study") }}</label>
    <div class="controls">
      <select id="field-sci_discipline" name="sci_discipline" data-module="autocomplete">
      {% for sci_discipline in h.ckanext_ceon_sci_disciplines()  %}
        <option value="{{ sci_discipline }}" {% if sci_discipline in data.get('sci_discipline', []) %}selected="selected"{% endif %}>{{ sci_discipline }}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  {{ super() }}

{% endblock %}

