{% ckan_extends %}

{% set licenses = h.ckanext_ceon_licenses() %}
{% set ancestral_license = data.get('ancestral_license') %}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-res_type">{{ _("Type of resource") }}</label>
    <div class="controls">
      <select id="field-res_type" name="res_type" data-module="autocomplete">
      {% for (key, value) in h.ckanext_ceon_res_types().iteritems()  %}
        <option value="{{ key }}" {% if key in data.get('res_type', []) %}selected="selected"{% endif %}>{{ value }}</option>
      {% endfor %}
      </select>
      {% set type = _("For structured data, for example in tabular form, please choose “Dataset (Zbiór danych)”. For datasets containing files of different types, choose “Collection (Zestawienie)”. A more detailed description of all resource types can be found on pages 26-27 of the DataCite Metadata Schema for the Publication and Citation of Research Data (Version 3.1).") %}
      {% snippet 'snippets/tooltip.html', text=type  %}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-sci_discipline">{{ _("Area of study") }}</label>
    <div class="controls">
      <select id="field-sci_discipline" name="sci_discipline" data-module="autocomplete">
      {% for (key, value) in h.ckanext_ceon_sci_disciplines().iteritems()  %}
        <option value="{{ key }}" {% if key in data.get('sci_discipline', []) %}selected="selected"{% endif %}>{{ value }}</option>
      {% endfor %}
      </select>
      {% set area = _("Please choose an area of research that best describes the kind of research for which your dataset was created.") %}
      {% snippet 'snippets/tooltip.html', text=area  %}
    </div>
  </div>

  <div class="control-group control-funding">
    <label class="control-label" for="field-oa_funder">{{ _("Funder") }}</label>
    <div class="controls">
      {% set oa_funder = data.get('oa_funder', []) %}
      {% if oa_funder is iterable and oa_funder is not string %}
        {% set oa_funder = oa_funder[0] %}
      {% endif %}
      <input type='hidden' id="field-oa_funder" name="oa_funder" value="{{ oa_funder }}" data-select="{{ h.ckanext_ceon_oa_funders().itervalues()|join('|') }}" data-select-keys="{{ h.ckanext_ceon_oa_funders().iterkeys()|join('|') }}" data-module="funding-fields"/>
      {% set funder = _("If the relevant research funder is not listed, please enter the name manually.") %}
      {% snippet 'snippets/tooltip.html', text=funder  %}
    </div>
  </div>

  <div class="control-group control-funding">
    <label class="control-label" for="field-oa_funding_program">{{ _("Funding program") }}</label>
    <div class="controls">
      {% set oa_funding_program = data.get('oa_funding_program', []) %}
      {% if oa_funding_program is iterable and oa_funding_program is not string %}
        {% set oa_funding_program = oa_funding_program[0] %}
      {% endif %}
      <input type='hidden' id="field-oa_funding_program" name="oa_funding_program" value="{{ oa_funding_program }}" data-select="{{ h.ckanext_ceon_oa_funding_programs().itervalues()|join('|') }}" data-select-keys="{{ h.ckanext_ceon_oa_funding_programs().iterkeys()|join('|') }}" data-module="funding-fields"/>
    {% set funding = _("If the relevant funding program is not listed, please enter its name manually.") %}
      {% snippet 'snippets/tooltip.html', text=funding  %}
    </div>
  </div>

  {% import "macros/form.html" as form %}
  {{ form.input('oa_grant_number', label=_('Grant number'), id='field-oa_grant_number', placeholder=_('Grant number'), value=data.oa_grant_number, error=errors.oa_grant_number, classes=['control-medium']) }}

  <div class="control-group">
    <label class="control-label">{{ _("License for files") }}</label>
    <div class="controls control-ancestral" data-module="ancestral-fields">
        
      <input id="field-ancestral_license_on" type="radio" name="ancestral_license_switch" value="on" {% if ancestral_license %}checked="checked"{% endif %}>{{ _("Hereby I grant this license for all resources ") }}<br><br>
      <div>
        <select id="field-ancestral_license" name="ancestral_license" data-module="autocomplete" {% if not ancestral_license %}disabled="disabled"{% endif %}>
          {% for license_desc, license_id in licenses if license_desc  %}
            <option value="{{ license_id }}" {% if ancestral_license|default('notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
          {% endfor %}
          {% for license_desc, license_id in licenses|sort if license_desc  %}
            <span><b>{{ license_id }}</b></span>
            <span><i>{{ license_desc }}</i></span>
          {% endfor %}
        </select>
        
          {% set license = _("If you are releasing all the files in your dataset under the same legal conditions, please choose from the list provided here. If at least one file will be released under different conditions than the rest of the dataset, please check the option „I will choose a separate license for each file in this dataset”. License descriptions and additional information on legal issues can be found in the RepOD Legal guide.") %}
          {% snippet 'snippets/tooltip.html', text=license  %}
          
          <a class="info-link" href="{{ h.url_for(controller='ckanext.ceon.controllers:CeonController', action='legal') }}" target="_blank">
            {% trans %}
              Legal notice
            {% endtrans %}
          </a>  
      </div>
      
      <br>
      <input id="field-ancestral_license_off" type="radio" name="ancestral_license_switch" value="off" {% if not ancestral_license %}checked="checked"{% endif %}>{{ _("I will grant different licenses for different resources ") }}<br>
    </div>
  </div>

{% if not data.id %}

<div class="control-group">
    <label class="control-label"><span title="{{ _("This field is required") }}" class="control-required">*</span>{{ _("Terms Agreement") }}</label>
    <div class="controls">
      <input id="field-terms_agreement" type="checkbox" name="terms_agreement" value="">
      <a href="{{ h.url_for(controller='ckanext.ceon.controllers:CeonController', action='terms') }}" target="_blank">
            {% trans %}
              I have read the terms and conditions and agree
            {% endtrans %}
          </a> 
	</div>
  </div>
  {% endif %}

{% endblock %}

