{% ckan_extends %}

{% set licenses = h.ckanext_ceon_licenses() %}
{% set ancestral_license = data.get('ancestral_license') %}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-res_type">{{ _("Type of resource") }}</label>
    <div class="controls">
      <select id="field-res_type" name="res_type" data-module="autocomplete">
      {% for res_type in h.ckanext_ceon_res_types()  %}
        <option value="{{ res_type }}" {% if res_type in data.get('res_type', []) %}selected="selected"{% endif %}>{{ res_type }}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-sci_discipline">{{ _("Area of study") }}</label>
    <div class="controls">
      <select id="field-sci_discipline" name="sci_discipline" data-module="autocomplete">
      {% for sci_discipline in h.ckanext_ceon_sci_disciplines()  %}
        <option value="{{ sci_discipline }}" {% if sci_discipline in data.get('sci_discipline', []) %}selected="selected"{% endif %}>{{ sci_discipline }}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group control-funding">
    <label class="control-label" for="field-oa_funder">{{ _("Funder") }}</label>
    <div class="controls">
      <input type='hidden' id="field-oa_funder" name="oa_funder" value="{{ data.get('oa_funder', [])[0] }}" data-select="{{ h.ckanext_ceon_oa_funders()|join('|') }}" data-module="funding-fields"/>
    </div>
  </div>

  <div class="control-group control-funding">
    <label class="control-label" for="field-oa_funding_program">{{ _("Funding program") }}</label>
    <div class="controls">
      <input type='hidden' id="field-oa_funding_program" name="oa_funding_program" value="{{ data.get('oa_funding_program', [])[0] }}" data-select="{{ h.ckanext_ceon_oa_funding_programs()|join('|') }}" data-module="funding-fields"/>
    </div>
  </div>

  {% import "macros/form.html" as form %}
  {{ form.input('oa_grant_number', label=_('Grant number'), id='field-oa_grant_number', placeholder=_('Grant number'), value=data.oa_grant_number, error=errors.oa_grant_number, classes=['control-medium']) }}

  <div class="control-group">
    <label class="control-label">{{ _("License for files") }}</label>
    <div class="controls control-ancestral" data-module="ancestral-fields">
        
      <input id="field-ancestral_license_on" type="radio" name="ancestral_license_switch" value="on" {% if ancestral_license %}checked="checked"{% endif %}>{{ _("Hereby I grant this license for all resources ") }}<br>
      <select id="field-ancestral_license" name="ancestral_license" data-module="autocomplete" {% if not ancestral_license %}disabled="disabled"{% endif %}>
      {% for license_desc, license_id in licenses|sort if license_desc  %}
        <option value="{{ license_id }}" {% if ancestral_license|default('notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
      {% endfor %}
      {% for license_desc, license_id in licenses|sort if license_desc  %}
        <span><b>{{ license_id }}</b></span>
        <span><i>{{ license_desc }}</i></span>
      {% endfor %}
      </select>
             <span class="info-block info-inline">
              <i class="icon-info-sign"></i>
                <a href="{% url_for 'help' %}" target="_blank">
              {% trans %}
                Legal notice</a>
              {% endtrans %}
              
            </span>
      
      <br>
      <input id="field-ancestral_license_off" type="radio" name="ancestral_license_switch" value="off" {% if not ancestral_license %}checked="checked"{% endif %}>{{ _("I will grant different licenses for different resources ") }}<br>
    </div>
  </div>

{% endblock %}

