{% ckan_extends %}


{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_custom %}
  {{ super() }}

  {% resource 'ceon/form' %}

  {#
  This file has been created upon CKAN's original
  ckan/templates/snippets/custom_form_fields.html
  #}

  {% import "macros/ceonform.html" as form %}

  {% set authors = h.ckanext_ceon_get_authors(data.id) %}

  <div data-module="authors-fields">
    <ul id="authors-sortable">
    {% for a in authors %}
      <li class="ui-state-default">
        <span class="icon-sortable"><i class="fa fa-arrows"></i></span>
        {% set prefix = 'authors__%d__' % loop.index0 %}
        {{ form.author(
          names=(prefix ~ 'firstname', prefix ~ 'lastname', prefix ~ 'email',
                 prefix ~ 'affiliation', prefix ~ 'position', prefix ~ 'id',
                 prefix ~ 'deleted'),
          id='field-authors-%d' % loop.index0,
          label=_('Author'),
          values=(a.firstname, a.lastname, a.email, a.affiliation,
                  '%d' % (loop.index0), a.id, a.deleted),
          error=errors[prefix ~ 'firstname'] or errors[prefix ~ 'lastname'] or
                errors[prefix ~ 'email'] or errors[prefix ~ 'affiliation'] or
                errors[prefix ~ 'position'] or errors[prefix ~ 'id'])
        }}
      </li>
    {% endfor %}

    {# Add a max of 1 empty elements #}
    {% set total_authors = authors|count %}
    {% set empty_authors = 1 - total_authors %}
    {% if empty_authors <= 0 %}{% set empty_authors = 1 %}{% endif %}
    {% for a in range(total_authors, total_authors + empty_authors) %}
      <li class="ui-state-default">
        <span class="icon-sortable"><i class="fa fa-arrows"></i></span>
        {% set index = loop.index0 + (authors|count) %}
        {% set prefix = 'authors__%d__' % index %}
        {{ form.author(
          names=(prefix ~ 'firstname', prefix ~ 'lastname', prefix ~ 'email',
                 prefix ~ 'affiliation', prefix ~ 'position', prefix ~ 'id',
                 prefix ~ 'deleted'),
          id='field-authors-%d' % index,
          label=_('Author'),
          values=(a.firstname, a.lastname, a.email, a.affiliation,
                  '%d' % (index), a.id, a.deleted),
          error=errors[prefix ~ 'firstname'] or errors[prefix ~ 'lastname'] or
                errors[prefix ~ 'email'] or errors[prefix ~ 'affiliation'] or
                errors[prefix ~ 'position'] or errors[prefix ~ 'id'])
        }}
      </li>
    {% endfor %}
    </ul>
  </div>

  {% import "macros/form.html" as form %}
  {{ form.input('publisher', label=_('Publisher'), id='field-publisher', placeholder=_('Publisher'), value=data.publisher, error=errors.publisher, classes=['control-medium']) }}
  {{ form.input('publication_year', label=_('Publication Year'), id='field-publication_year', placeholder=_('2012'), value=data.publication_year, error=errors.publication_year, classes=['control-medium']) }}
  {{ form.input('rel_citation', label=_('Related publication'), id='field-rel_citation', placeholder=_('http://example.com/article-123'), value=data.rel_citation, error=errors.rel_citation, classes=['control-medium']) }}

{% endblock %}

